<!DOCTYPE HTML>
<html layout:decorate="~{admin.html}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <head>
    <span layout:fragment="title">New</span>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div layout:fragment="info-management">
        <h1>Nuevo usuario</h1>
        <form th:action="@{/admin/user/add}" th:object="${user}" method="post">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <!--<input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="Mark">-->
                    <input th:field="*{name}" type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? is-invalid"
                           id="name" placeholder="Nombre">
                    <div class="invalid-feedback">
                        <p th:text="${#fields.hasErrors('name') ? #fields.errors('name')[0]:''}">Dato no v&aacute;lido</p>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <input th:field="*{lastname}" type="text" class="form-control" th:classappend="${#fields.hasErrors('lastname')} ? is-invalid"
                           id="lastname" placeholder="Primer apellido">
                    <div class="invalid-feedback">
                        <p th:text="${#fields.hasErrors('lastname') ? #fields.errors('lastname')[0]:''}">Dato no v&aacute;lido</p>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <input th:field="*{lastname2}" type="text" class="form-control" th:classappend="${#fields.hasErrors('lastname2')} ? is-invalid"
                           id="lastname2" placeholder="Segundo apellido">
                    <div class="invalid-feedback">
                        <p th:text="${#fields.hasErrors('lastname2') ? #fields.errors('lastname2')[0]:''}">Dato no v&aacute;lido</p>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="email">Correo</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="email-prepend">@</span>
                        </div>
                        <input th:field="*{email}" type="email" class="form-control" th:classappend="${#fields.hasErrors('email')} ? is-invalid"
                               id="email" placeholder="Correo" aria-describedby="email-prepend">
                        <div class="invalid-feedback">
                            <p th:text="${#fields.hasErrors('email') ? #fields.errors('email')[0]:''}">Dato no v&aacute;lido</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <input th:field="*{username}" type="text" class="form-control" th:classappend="${#fields.hasErrors('username')} ? is-invalid"
                           id="username" placeholder="Usuario">
                    <div class="invalid-feedback">
                        <p th:text="${#fields.hasErrors('username') ? #fields.errors('username')[0]:''}">Dato no v&aacute;lido</p>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <input th:field="*{password}" type="password" class="form-control" th:classappend="${#fields.hasErrors('password')} ? is-invalid"
                           id="password" placeholder="Contraseña">
                    <div class="invalid-feedback">
                        <p th:text="${#fields.hasErrors('password') ? #fields.errors('password')[0]:''}">Dato no v&aacute;lido</p>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <input th:field="*{passwordConfirm}" type="password" class="form-control" th:classappend="${#fields.hasErrors('passwordConfirm')} ? is-invalid"
                           id="passwordConfirm" placeholder="Confirme contraseña">
                    <div class="invalid-feedback">
                        <p th:text="${#fields.hasErrors('passwordConfirm') ? #fields.errors('passwordConfirm')[0]:''}">Dato no v&aacute;lido</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2">
                    <label class="form-check-label" for="invalidCheck2">
                        Agree to terms and conditions
                    </label>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
    </div>
</body>
</html>