<!DOCTYPE html>
<html layout:decorate="~{layout.html}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <head>
        <title>Interfaz de administraci&oacute;n </title>
        <link type="text/css" th:rel='stylesheet' th:href="@{/css/jumbotron.css}">
    </head>
    <body>
        <section>
            <main role="main" layout:fragment="content">
                <div class="jumbotron">
                    <div class="container text-center">
                        <div id="admin-button-group-toggle" class="btn-group btn-group-lg btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-success active" th:data-toggle="admin-users">
                                <input type="radio" name="admin-toggle" autocomplete="off" checked> Usuarios
                            </label>
                            <label class="btn btn-success" th:data-toggle="admin-content">
                                <input type="radio" name="admin-toggle" autocomplete="off"> Contenido
                            </label>
                        </div>
                    </div>
                </div>

                <div class="container" layout:fragment="info-management">
                    <a th:href="@{/admin/user/new}">Nuevo usuario</a>
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre (s)</th>
                                <th scope="col">Primer apellido</th>
                                <th scope="col">Segundo apellido</th>
                                <th scope="col">Email</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Habilitado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <th scope="row" th:text="${user.getId()}"></th>
                                <td th:text="${user.getName()}"></td>
                                <td th:text="${user.getLastname()}"></td>
                                <td th:text="${user.getLastname2()}"></td>
                                <td th:text="${user.getEmail()}"></td>
                                <td th:text="${user.getUsername()}"></td>
                                <td th:text="${user.isEnabled()}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="admin-content" class="row" th:style="'display: none'">
                        <a th:href="@{/medication/add}">Nuevo medicamento</a>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre gen&eacute;rico</th>
                                    <th scope="col">Nombre comercial</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!--                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>@mdo</td>
                                                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                    <hr>
                </div>

            </main>
        </section>

        <footer layout:fragment="footer" th:class="'pt-4 ' + 'my-md-5 ' + 'pt-md-5 ' + 'border-top ' + 'text-center '">MediSAM - ITO Orizaba</footer>
        <div layout:fragment="javascripts">
            <script th:src="@{/js/admin.js}"></script>
            <script>

// Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </div>
    </body>
</html>